@media only screen and (max-width: 330px) {
    nav .navbar-nav li a, #timeValue, i {
        font-size: small;
    }
}

.navbar {
    background-color: #24292e;
    font-family: 'Volkhov', serif;
}

nav .navbar-nav li a, #timeValue, i {
    color: white !important;
    padding: 5px;
}

.btn {
    background-color: #555555;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn:hover {
    border: 2px solid #555555;
    background-color: white;
    color: #24292e;
}

#choicesGroup .btn {
    text-align: left;
    background-color: white;
    color: #24292e;
    border: 2px solid #555555;
}

#choicesGroup .btn:hover {
    background-color: #555555;
    color: white;
}

/* suppress hover effect on devices that don't support hover fully */
@media (hover:none), (hover:on-demand) {
    #choicesGroup .btn:hover {
        background: none;
        color: #24292e;
    }
    .btn:hover {
        background: #555555;
        color: white;
    }
}

.container {
    font-family: 'Public Sans', sans-serif;
    color: #24292e;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#firstPage {
    text-align: center;
}

#mainContainer {
    max-width: 500px;
}

h3, p, form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}