@media only screen and (max-width: 330px) {
    nav .navbar-nav li a, .navbar-text {
        font-size: small;
    }
}

body {
    background-image: url("https://schoe14.github.io/Code-Quiz/Assets/so-white.png");
}

.navbar {
    background-color: #222831;
    font-family: 'Volkhov', serif;
    height: 60px;
}

nav .navbar-nav li a, .navbar-text {
    color: white !important;
    padding: 5px;
}

.btn {
    background-color: #393E46;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn:hover {
    border: 2px solid #393E46;
    background-color: white;
    color: #24292e;
}

#choicesGroup .btn {
    text-align: left;
    background-color: white;
    color: #24292e;
    border: 2px solid #555555;
}

#choicesGroup .btn:hover {
    background-color: #555555;
    color: white;
}

/* suppress hover effect on devices that don't support hover fully */

@media (hover:none), (hover:on-demand) {
    #choicesGroup .btn:hover {
        background: none;
        color: #24292e;
    }
    .btn:hover {
        background: #555555;
        color: white;
    }
}

.container {
    font-family: 'Public Sans', sans-serif;
    color: #24292e;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#firstPage {
    text-align: center;
}

#mainContainer {
    max-width: 500px;
}

h3, p, form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#highscoresPage li {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: #6F9A8D;
    color: white;
    font-size: 20px;
    line-height: 1.5;
}

#highscoresPage li:before {
    content: "\200B";
    position: absolute;
}

#highscoresPage li::after {
    content: " ";
    display: block;
    clear: both;
}

*, *::before, *::after {
    box-sizing: border-box;
}